img[src*="dimohame.jpg"],
img[src*="medium_dimohame.jpg"],
div[style*="dimohame.jpg"] {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

a[style*="dimohame.jpg"],
div[style*="dimohame.jpg"],
img[src*="dimohame.jpg"] {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}